@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 
* {
   font-family: 'Helvetica', sans-serif;
}
 
body {
 background-image: url('background.png');
}
 
.topnav {
   overflow: hidden;
   background-color: #EFDA83;
}
.topnav a {
   font-weight: 300;
   float: left;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
 
.search_bar {
   display: flex;
   padding-bottom: 15px;
   padding-left: 20px;
   justify-content: center;
   width: 100%;
}
 .search_bar input[type=text] {
   padding: 6px;
   margin-top: 20px;
   width: 40%;
   font-size: 17px;
   box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   border: 5px solid transparent;
 
}
 
 .topnav a.active {
   background-color: #A8A092;
   color: white;
}
 
.grid {
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 230px 230px;
   grid-gap: 1.5em;
}
 
.grid > div {
   border: 1px solid black;
}
 
.res_img {
   max-height: 170px;
}
 
.res_info {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
 
.res_ess_info {
   width: 230px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
}
 
.filters {
   display: flex;
   flex-direction: row;
   padding-right: 200px;
   padding-top:30px;
   padding-left: 40px;
}
 
.filter {
   padding: 10px;
}
 
.filter_header {
   font-size: 20px;
   font-weight: bold;
}
 
.filter_content > div {
   margin: 10px;
}
 
.logo{
    width: 530px;
} 

.rowC{
   display: flex;
   flex-direction:row;
}
 
.google_maps {
   padding-top: 10px;
   display: flex;
   padding-left: 100px;
   justify-content: right;
   flex-direction:row;
}
 
 
.main_header {
 font-size: 40px;
 font-weight: 400;
 font-style: normal;
 display: flex;
 justify-content: center;
 margin-top: 40px;
 margin-bottom: 10px;
}
